{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd style='margin: 0;'>{{ field( style  ='width: 180px;' )|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}