{% extends "layout/layout.html" %}

{% block content %}

  {% include "layout/flashmsg.html" %}

  <div class = "container" style="text-align: center;">

    <h3 style="text-align: center;" >Add User</h3>

    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/admin/add_user/">
      <dl>
        {{render_field(form.username)}}
        {{render_field(form.email)}}
        {{render_field(form.password)}}
        {{render_field(form.confirm)}}
      </dl>
      <p><input class="container_button" type=submit value="Add User"></p>
    </form>
    
  </div>

{% endblock %}
