{% extends "layout/layout.html" %}

{% block content %}

    {% include "layout/flashmsg.html" %}

    <div class="container" style="text-align: center;">
    
        <h3>Administrator Menu</h3>
    
        <button class="container_button" style="margin:auto; width: 300px;" onclick="location.href='/admin/add_user'; ">Add New Authorized User</button>
    
    </div>

{% endblock %}