
{% extends "layout/header_layout.html" %}

{% block content %}

  {% include "layout/flashmsg.html" %}

  <div class="container">   

    <h2 style="text-align: center;">Login Page</h2>

    <form action="/login/" method="POST">
      Username:<br>
      <input type="text" name="username" value="" style="width: 180px;">
      <br>
      Password:<br>
      <input type="password" name="password" value="" style="width: 180px;">
      <br>
      <p style="text-align: center;" ><input class="container_button" type="submit" value="Login" style="width: 100px;"></p>
    </form>
    
  </div>

{% endblock %}
