{% extends "layout/layout.html" %}

{% block content %}

  {% include "layout/flashmsg.html" %}

  <div class = "container" style="text-align: center;">

    <h3 style="text-align: center;" >Change User Password</h3>

    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/user/changepassword/">
      <dl>
        {{render_field(form.old_password)}}
        {{render_field(form.password)}}
        {{render_field(form.confirm)}}
      </dl>
      <p><input class="container_button" type=submit value="Submit Change"></p>
    </form>
      
  </div>
  
{% endblock %}