{% extends "layout/layout.html" %}

{% block content %}

    {% include "layout/flashmsg.html" %}

    <div class="container" style="text-align: center;">
        
        <h3>User Settings</h3>

        <button class="container_button" style="margin:auto; width: 300px;" onclick="location.href='/user/changepassword'; ">Change User Password</button>
    
    </div>
    
{% endblock %}
