
{% extends "layout/layout.html" %}

{% block content %}

    {% include "layout/flashmsg.html" %}

    <div class="container">
        
        <h3>This is the Blueprint Example Page</h3>

    </div>

{% endblock %}