
  {% extends "layout/header_layout.html" %}

  {% block content %}
  
  <div class="container">   

    <h1 style="text-align: center;">File Not Found</h1>

    <p><a href="javascript:history.back()">Go Back</a></p>

  </div>

  {% endblock %}







