
  {% extends "layout/header_layout.html" %}

  {% block content %}
  
  <div class="container">   

    <h1 style="text-align: center;">Internal Server Error</h1>
    
    {% if error %}
      <p><strong>Error:</strong>{{error}}</p>
    {% endif %}
    
    <p><a href="javascript:history.back()">Go Back</a></p>

  </div>

  {% endblock %}
