
  /* The alert message box */
  .msg_success {
      border-radius: 5px;
      padding: 20px;
      background-color: #8FBC8F; /**/
      color: black;
      margin-bottom: 15px;
    }

    /* The alert message box */
  .msg_warning {
    border-radius: 5px;
    padding: 20px;
    background-color: #e2db97; /**/
    color: black;
    margin-bottom: 15px;
  }

  /* The alert message box */
  .msg_error {
    border-radius: 5px;
    padding: 20px;
    background-color: #FFBABA; /**/
    color: black;
    margin-bottom: 15px;
  }

  /* The alert message box */
  .msg_note {
    border-radius: 5px;
    padding: 20px;
    background-color: #baccff; /**/
    color: black;
    margin-bottom: 15px;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }