#menu_bar {
    overflow: hidden;
    background-color: #696969;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
}

/* Style the buttons inside menu_bar */
.menu_buttons {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    height: 50px;
}

/* Change background color of buttons on hover */
.menu_buttons:hover {
    background-color: #ddd;
}

#main_div{
    overflow: hidden;
    width: auto;
    margin: auto;
    margin-left:200px;
    margin-top: 58px;
    padding-right: 200px;
}

.container {
    width: max-content;
    margin: auto;
}

.container_button{
    border-style: solid;
    outline: none;
    border-radius: 5px;
    padding:  8px 16px; 
    font-size: 14px;
}

.container_button:hover{
    background-color: #555;
    color: white;
}