
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {%- for category,msg in messages %}
  <div class="{{ category }}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ msg }}
  </div> 
  {% endfor %} 
  {% endif %}
{% endwith %}
