<div id="menu_bar" style="height: 50px;">

  <div style="float: right; height: 50px;"><button class="menu_buttons"  onclick="location.href='/logout/';"  style="font-weight: 600;">Logout</button></div>

  <div style="margin: auto; margin-left: 200px; padding-right: 100px; height: 50px; line-height: 50px; width: auto; font-size: 30px; color: yellow; text-overflow: clip;  white-space: nowrap; overflow: hidden; text-align: center;" >
  <div>Flask Web Interface</div>
  </div>

</div>