<!DOCTYPE html>
<head>
    <link href="{{ url_for('static', filename='basic.css') }}"   rel="stylesheet">
    <link href="{{ url_for('static', filename='alert.css') }}"   rel="stylesheet">
</head>
<html>
<title>Flask Web Interface</title>
<body>

{% include "layout/header.html" %}

{% include "layout/navigationbar.html" %}

<div id="main_div">

{% block content %}{% endblock %}

</div>

</body>
</html>