<div id="navbar_div">

    <style type="text/css" scoped>

        /* The side navigation menu */
        #navbar_div {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
        top:50px;
        left: 0px;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        }

        li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        font-size:  17px ;
        }

        /* li a.active {
        background-color: #4CAF50;
        color: white;
        } */

        li a:hover:not(.active) {
        background-color: #555;
        color: white;
        }

        li b {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        font-size:  17px ;
        }
        

    </style>

    <h3 style="padding: 16px;">Control Menu</h3>

    <ul>

        {% for key in config['sidebar_blueprint_routes']: %}
        
        <hr>

        <li><b>{{key}}</b></li>

            {% for numkey in config['sidebar_blueprint_routes'][key]: %}

                {% for route_name, route_url in config['sidebar_blueprint_routes'][key][numkey].items(): %}

                <li><a href="{{ url_for(route_url) }}">{{route_name}}</a></li>

                {% endfor %}

            {% endfor %}

        {% endfor %}  
        
        <hr>
        
        <li><b>System Settings</b></li>
        <li><a href='/'>Index Page</a></li>
        <li><a href='/example-page'>Example Page</a></li>
        <li><a href='/user'>User Settings</a></li>
        <li><a href='/admin'>Administrator</a></li>

        <hr>

    </ul>
      
</div>